body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  h1 {
    color: #003366;
  }
  .home {
    background: url(./images.hockey/hockey_image.jpg);
    display: flex;
    align-items: center;
    height: 100vh;
  }